@import "tailwindcss";

@theme {
  --font-nemo: "FindingNemo", sans-serif;
  --font-picture: "BlackAndWhitePicture", sans-serif;
  --font-bagel: "BagelFatOne", sans-serif;

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0) rotate(-15deg);
    }
    50% {
      transform: translateY(-20px) rotate(-14deg);
    }
  }
}

:root {
  --bg: #020617;
  --bg-elevated: #020817;
  --accent: #38bdf8;
  --accent-soft: rgba(56, 189, 248, 0.12);
  --text: #e5e7eb;
  --muted: #9ca3af;
  --border-subtle: rgba(148, 163, 184, 0.35);
  --radius-lg: 16px;
  --radius-full: 999px;
  --shadow-soft: 0 18px 60px rgba(15, 23, 42, 0.9);
}

@font-face {
  font-family: "FindingNemo";
  src: url("./assets/fonts/FindetNemo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BlackAndWhitePicture";
  src: url("./assets/fonts/BlackAndWhitePicture-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BagelFatOne";
  src: url("./assets/fonts/BagelFatOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  min-height: 11000px;
  height: fit-content;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Text",
    sans-serif;
  background: linear-gradient(
    180deg,
    #6ef1fa 0.13%,
    #6becf7 1.15%,
    #64ddee 2.16%,
    #57c6e0 3.18%,
    #46a5cc 4.45%,
    #317bb3 5.72%,
    #2768a8 6.23%,
    #245495 7.25%,
    #1b3b80 9.03%,
    #102b66 11.06%,
    #111f5c 12.09%,
    #131a5c 12.64%,
    #14185c 14.12%,
    #14165c 14.57%,
    #1a1058 23.9%,
    #16115c 24.05%,
    #18115a 24.6%,
    #16115c 25.19%,
    #191159 30.04%,
    #1a1058 32.32%,
    #1c1056 33.53%,
    #1c1056 37.02%,
    #14165c 39.61%,
    #112460 41.72%,
    #102b66 43.91%,
    #1b3b80 48.81%,
    #245495 51.86%,
    #2768a8 53.6%,
    #317bb3 63.8%,
    #317bb3 72.55%,
    #2768a8 74.51%,
    #245495 76.97%,
    #1b3b80 84.35%,
    #102b66 87.09%,
    #0c316f 90.8%,
    #0b3574 92.78%,
    #083979 95.21%,
    #054083 99.27%,
    #01478d 100%
  );
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
